* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-section {
    display:flex;
    justify-content: space-between;
    padding: 15px 20px;  
}

#header-section a {
    text-decoration: none;
    font-size: 20px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

#intro {
    width: 600px;
    text-align: center; 
}

#intro h1 {
    margin-bottom: 20px;
}
#intro p {
    margin-bottom: 15px;
    font-size: 25px;
}

button,
.btn {
    background-color: #351c75;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#start {
    padding: 15px 45px;
    font-size: 20px;
    border-radius: 15px;
}

#question-container {
    width: 600px;
    display: none;
}

#question-container h1 {
    margin-bottom: 10px;
}


.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}

.answers button {
  text-align: left;  
  padding: 7px 5px;
  width: fit-content;
  padding-right: 15px;
  font-size: 20px;
}

.answers button:hover {
background-color: #bd60e7;
}

hr {
    font-size: 5px;
    margin-top: 10px;
}

#question-container p {
    font-weight: 200;
}

.final-score {
    display: none;
}

.final-score p {
    font-size: 20px;
    margin: 15px 0; 
}

.final-score label {
    font-size: 20px;
}

.final-score input {
    padding: 6px;
    border-color: #351c75;
}
.final-score button {
   padding: 8px;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.container h1 {
    margin-bottom: 10px;
}

.container ul {
    list-style: none;
}

.container li {
    padding: 5px;
    background-color: rgb(193, 159, 227);
    color: black;
    font-size: 22px;
    font-weight: 700px;
    margin: 5px 0;
}

.container a,
.container button {
    text-decoration: none;
    padding: 8px;
    padding-right: 25px;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

