* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-section {
    display:flex;
    justify-content: space-between;
    padding: 15px 20px;  
}

#header-section a {
    text-decoration: none;
    font-size: 20px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

#intro {
    width: 600px;
    text-align: center; 
}

#intro h1 {
    margin-bottom: 20px;
}
#intro p {
    margin-bottom: 15px;
}

#start {
    padding: 15px 45px;
    font-size: 20px;
    border-radius: 15px;
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
}

#question-container {
    width: 600px;
    display: none;
}

#question-container h1 {
    margin-bottom: 10px;
}


.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}

.answers button {
  text-align: left;  
  background-color: blueviolet;
  color: white;
  padding: 7px 5px;
  border: none;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

.answers button:hover {
background-color: rgba(105, 45, 154, 0.5);
}

hr {
    font-size: 5px;
    margin-top: 10px;
}

#question-container p {
    font-weight: 200;
}

.final-score {
    display: none;
}

.final-score p {
    margin: 15px 0; 
}

.final-score button {
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
